<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicTacToeServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TicTacToeServer.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <TicTacToeServer.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>5689</value>
            </setting>
            <setting name="MysqlConnectionString" serializeAs="String">
                <value>server=localhost;userid=root;password=root;database=tictactoe</value>
            </setting>
        </TicTacToeServer.Properties.Settings>
        <TicTacToeServer.Application>
            <setting name="Port" serializeAs="String">
                <value>5698</value>
            </setting>
        </TicTacToeServer.Application>
    </applicationSettings>
</configuration>